---
import '../styles/globals.css';
import Layout from '../layouts/Layout.astro';
import Example from '../components/example.vue';

---

<Layout title="Under Construction">
	<main>
		<Example />
	</main>
</Layout>

<head>
	<meta property="og:title" content="Under Construction" />
	<meta property="og:description" content="More content coming soon!" />
	<!-- <meta property="og:image" content="https://niposch.github.io/og-image.png" />
	<meta property="og:url" content="https://niposch.de" /> -->
	<meta property="og:type" content="website" />
</head>

<style></style>
